//$color1: #11B6F0;
$color1: red;

* {
  transition: all .2s;
}

body{
  background-color: $color1;
}

main{
  height: 100vh;
  h1.title {
    white-space: nowrap;
    font-size: 3em;
    font-family: 'Suez One', serif;
    //color: darken($color1, 20);
    color: complement($color1);
  }
}

@media screen and (min-width: 720px) {
  main{
    h1.title {
      font-size: 6em;
    }
  }
}